In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.20.1-py3-none-any.whl (4.4 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4.4 MB 29.2 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.12.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.7.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.21.6)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.64.0)
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.12.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.6 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 6.6 MB 45.9 MB/s
Collecting huggingface-hub<1.0,>=0.1.0
  Downloading huggingface_hub-0.8.1-py3-none-any.whl (101 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 101 kB 13.4 MB/s
Collecting pyyaml>=5.1
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 596 kB 29.5 MB/s
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2022.6.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.9)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.8.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Installing collected packages: pyyaml, tokenizers, huggingface-hub, transformers
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
Successfully installed huggingface-hub-0.8.1 pyyaml-6.0 tokenizers-0.12.1 transformers-4.20.1

In [ ]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 62 kB 1.7 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 6.4 MB 51.0 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.9.1 requests-2.28.1 yfinance-0.1.74

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/JU Project/ExecutiveTweetsBTC.csv')
df

,Date,Tweet
0,2020-12-08 03:55:06+00:00,Hear me out... a SPAC... ticker BTC... The Bit...
1,2021-04-13 14:38:31+00:00,No replacement for $BTC. If $RIOT were to hav...
2,2018-04-30 17:53:27+00:00,$SQ Short term tgt $30 started as innovative ...
3,2021-04-17 19:05:14+00:00,I mean. We all knew $COIN was gonna come out a...
4,2021-12-04 22:01:47+00:00,Just saw someone touting that the ETH/BTC pair...
...,...,...
298,2019-08-05 21:07:16+00:00,i cant believe am hearing @CNBC expert say 'u ...
299,2021-05-19 11:49:59+00:00,Are you buying or selling Bitcoin Today? #BTC ü™ô
300,2021-12-02 19:59:57+00:00,Will gold outperform Bitcoin in 2022? $GLD $BTC
301,2021-06-13 18:33:07+00:00,Musk denies speculation Tesla has sold more bi...
302,2017-11-10 13:28:45+00:00,"Gartman flips on bitcoin: ""good on‚Äù those who‚Äô..."

In [ ]:
df['Date'] = pd.to_datetime(df['Date']).dt.date
df

           Date                                              Tweet
0    2020-12-08  Hear me out... a SPAC... ticker BTC... The Bit...
1    2021-04-13  No replacement for $BTC.  If $RIOT were to hav...
2    2018-04-30  $SQ Short term tgt $30  started as innovative ...
3    2021-04-17  I mean. We all knew $COIN was gonna come out a...
4    2021-12-04  Just saw someone touting that the ETH/BTC pair...
..          ...                                                ...
298  2019-08-05  i cant believe am hearing @CNBC expert say 'u ...
299  2021-05-19    Are you buying or selling Bitcoin Today? #BTC ü™ô
300  2021-12-02    Will gold outperform Bitcoin in 2022? $GLD $BTC
301  2021-06-13  Musk denies speculation Tesla has sold more bi...
302  2017-11-10  Gartman flips on bitcoin: "good on‚Äù those who‚Äô...

[303 rows x 2 columns]

In [ ]:
def tweets_per_day(df):
    df['Date'] = pd.to_datetime(df['Date'])
#   return df[['Tweets']].groupby(df['Date'].dt.date).count()
    tweet = df['Tweet'].groupby(df['Date'].dt.date).count() 
    d1 = pd.DataFrame(tweet)
    return d1
  # if you want output to be `Series`

df1 = tweets_per_day(df)
df1 = df1.reset_index(level=0)

In [ ]:
df1

           Date  Tweet
0    2017-03-01      1
1    2017-03-09      1
2    2017-04-26      2
3    2017-05-31      1
4    2017-07-05      1
..          ...    ...
240  2022-05-02      1
241  2022-05-03      1
242  2022-05-09      3
243  2022-05-10      1
244  2022-05-11      1

[245 rows x 2 columns]

In [ ]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification
from scipy.special import softmax

In [ ]:
import nltk 
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
import re
import math

stop_words = stopwords.words('english')
stop_words.remove("not")
stemmer = SnowballStemmer('english')

text_cleaning_re = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"

def preprocess(text, stem=False):
  text = re.sub(text_cleaning_re, ' ', str(text).lower()).strip()
  tokens = []
  for token in text.split():
    if token not in stop_words:
      if stem:
        tokens.append(stemmer.stem(token))
      else:
        tokens.append(token)
  return " ".join(tokens)

df.Tweets = df.Tweet.apply(lambda x: preprocess(x))
df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

          Date                                              Tweet
0   2020-12-08  Hear me out... a SPAC... ticker BTC... The Bit...
1   2021-04-13  No replacement for $BTC.  If $RIOT were to hav...
2   2018-04-30  $SQ Short term tgt $30  started as innovative ...
3   2021-04-17  I mean. We all knew $COIN was gonna come out a...
4   2021-12-04  Just saw someone touting that the ETH/BTC pair...
..         ...                                                ...
298 2019-08-05  i cant believe am hearing @CNBC expert say 'u ...
299 2021-05-19    Are you buying or selling Bitcoin Today? #BTC ü™ô
300 2021-12-02    Will gold outperform Bitcoin in 2022? $GLD $BTC
301 2021-06-13  Musk denies speculation Tesla has sold more bi...
302 2017-11-10  Gartman flips on bitcoin: "good on‚Äù those who‚Äô...

[303 rows x 2 columns]

In [ ]:
tokenizer = AutoTokenizer.from_pretrained("ProsusAI/finbert")

model = AutoModelForSequenceClassification.from_pretrained("ProsusAI/finbert")

In [ ]:
neg = []
neu = []
pos = []
i = 0
def normalize(score, alpha=15):
    """
    Normalize the score to be between -1 and 1 using an alpha that
    approximates the max expected value
    """
    norm_score = score/math.sqrt((score*score) + alpha)
    return norm_score

for tweet in df.Tweet:
  i = i+1
  encoded_tweet = tokenizer(tweet,padding=True, truncation=True,max_length=250, add_special_tokens = True, return_tensors='pt')
  output = model(**encoded_tweet)
  scores = output[0][0].detach().numpy()
  normScores = softmax(scores)  
  neg.append(normScores[0])
  neu.append(normScores[1])
  pos.append(normScores[2])
  print(i,"--> ",normScores)

1 -->  [0.0717213  0.01218547 0.9160932 ]
2 -->  [0.08107361 0.02286281 0.8960636 ]
3 -->  [0.04563661 0.73194224 0.22242114]
4 -->  [0.06549419 0.04032139 0.8941846 ]
5 -->  [0.06853938 0.04934912 0.88211155]
6 -->  [0.02389283 0.39093027 0.5851769 ]
7 -->  [0.9309407  0.01371996 0.05533948]
8 -->  [0.06852176 0.0132599  0.91821843]
9 -->  [0.89046264 0.00820894 0.10132856]
10 -->  [0.8965156  0.00993939 0.09354499]
11 -->  [0.32901067 0.05560081 0.6153886 ]
12 -->  [0.08980023 0.0226895  0.88751024]
13 -->  [0.03392616 0.02056026 0.94551367]
14 -->  [0.05082171 0.02018774 0.9289904 ]
15 -->  [0.01910692 0.4507189  0.53017414]
16 -->  [0.01794906 0.5212877  0.46076334]
17 -->  [0.01765916 0.8217745  0.1605663 ]
18 -->  [0.06071047 0.01835815 0.9209313 ]
19 -->  [0.06365345 0.2876488  0.64869773]
20 -->  [0.09653256 0.01169752 0.89176977]
21 -->  [0.02118478 0.7172566  0.2615585 ]
22 -->  [0.02647699 0.04598452 0.92753845]
23 -->  [0.0696829  0.19830203 0.73201513]
24 -->  [0.0796947  0.04056097 0.87974435]
25 -->  [0.11053441 0.03426302 0.8552027 ]
26 -->  [0.049878   0.02878751 0.9213345 ]
27 -->  [0.02498577 0.04008815 0.934926  ]
28 -->  [0.05013037 0.03632364 0.9135461 ]
29 -->  [0.01301457 0.7342893  0.25269613]
30 -->  [0.02408536 0.2037383  0.77217627]
31 -->  [0.3077417  0.00948685 0.68277156]
32 -->  [0.69422174 0.03668874 0.26908958]
33 -->  [0.20562644 0.02218127 0.7721923 ]
34 -->  [0.21232834 0.01161361 0.776058  ]
35 -->  [0.08923709 0.01673529 0.8940276 ]
36 -->  [0.03698549 0.03553524 0.92747915]
37 -->  [0.07938511 0.04773383 0.8728809 ]
38 -->  [0.08501606 0.02141661 0.89356726]
39 -->  [0.04757103 0.24364208 0.7087867 ]
40 -->  [0.08174243 0.0373321  0.8809254 ]
41 -->  [0.03942476 0.22795495 0.7326202 ]
42 -->  [0.08683959 0.01666582 0.8964947 ]
43 -->  [0.50668216 0.01119642 0.4821214 ]
44 -->  [0.06518105 0.01587827 0.91894066]
45 -->  [0.18643412 0.71516454 0.09840135]
46 -->  [0.07724089 0.01312978 0.90962946]
47 -->  [0.85066164 0.05380631 0.09553201]
48 -->  [0.9190586  0.00856031 0.07238113]
49 -->  [0.02684271 0.7262019  0.24695536]
50 -->  [0.59528595 0.01423254 0.39048147]
51 -->  [0.957147   0.01797618 0.0248768 ]
52 -->  [0.05438193 0.01890175 0.9267164 ]
53 -->  [0.81328493 0.00977515 0.17693982]
54 -->  [0.36040366 0.37298602 0.26661032]
55 -->  [0.07149    0.01809362 0.9104164 ]
56 -->  [0.01865607 0.7262081  0.25513583]
57 -->  [0.03513911 0.94845694 0.01640395]
58 -->  [0.08501001 0.82759726 0.08739273]
59 -->  [0.14701942 0.01981531 0.83316535]
60 -->  [0.01573553 0.9628237  0.02144071]
61 -->  [0.16622134 0.01702203 0.8167566 ]
62 -->  [0.11368707 0.86773753 0.01857535]
63 -->  [0.13531335 0.00953013 0.85515654]
64 -->  [0.08895199 0.01638419 0.89466375]
65 -->  [0.03431606 0.03235307 0.9333309 ]
66 -->  [0.14347406 0.00865398 0.84787184]
67 -->  [0.07796962 0.1286489  0.7933815 ]
68 -->  [0.04351542 0.30496824 0.65151644]
69 -->  [0.03622335 0.15322691 0.8105497 ]
70 -->  [0.03489346 0.07250595 0.89260066]
71 -->  [0.03585272 0.20964214 0.75450516]
72 -->  [0.05304804 0.0638716  0.8830804 ]
73 -->  [0.02478072 0.02364722 0.951572  ]
74 -->  [0.03344124 0.22613038 0.7404284 ]
75 -->  [0.03347308 0.04099744 0.9255295 ]
76 -->  [0.13976406 0.17014137 0.6900946 ]
77 -->  [0.07583901 0.02746475 0.8966962 ]
78 -->  [0.02919287 0.11536568 0.8554414 ]
79 -->  [0.02955343 0.03218424 0.9382623 ]
80 -->  [0.16655502 0.01345238 0.81999254]
81 -->  [0.00738026 0.9704793  0.02214029]
82 -->  [0.74688846 0.01226385 0.24084766]
83 -->  [0.0785166  0.01596534 0.9055182 ]
84 -->  [0.01112984 0.95531386 0.03355625]
85 -->  [0.02794882 0.04877532 0.92327577]
86 -->  [0.04020966 0.01497059 0.9448198 ]
87 -->  [0.04729603 0.02301037 0.9296937 ]
88 -->  [0.01823355 0.07376286 0.90800345]
89 -->  [0.12579058 0.02306701 0.85114235]
90 -->  [0.1756307  0.0246715  0.79969776]
91 -->  [0.03078443 0.03950412 0.9297115 ]
92 -->  [0.03338729 0.02600656 0.9406063 ]
93 -->  [0.07983749 0.42547414 0.49468842]
94 -->  [0.03052569 0.0296781  0.9397961 ]
95 -->  [0.04630271 0.79925936 0.1544379 ]
96 -->  [0.06570272 0.02428053 0.91001666]
97 -->  [0.10538781 0.02449637 0.87011576]
98 -->  [0.15114321 0.00914919 0.8397075 ]
99 -->  [0.05614969 0.02917761 0.9146726 ]
100 -->  [0.0448235  0.02566372 0.9295129 ]
101 -->  [0.05257411 0.03783976 0.9095861 ]
102 -->  [0.0839311  0.02861871 0.88745016]
103 -->  [0.04356673 0.02926635 0.92716694]
104 -->  [0.08610069 0.02835106 0.8855481 ]
105 -->  [0.03097186 0.04833632 0.9206918 ]
106 -->  [0.06143466 0.02396782 0.91459763]
107 -->  [0.09945029 0.03179651 0.8687532 ]
108 -->  [0.08849782 0.02798668 0.8835154 ]
109 -->  [0.04156895 0.02344816 0.934983  ]
110 -->  [0.03989302 0.02427996 0.9358269 ]
111 -->  [0.04534024 0.02165473 0.933005  ]
112 -->  [0.03195299 0.02971193 0.93833494]
113 -->  [0.06505653 0.01923299 0.9157104 ]
114 -->  [0.04249082 0.02270925 0.9348001 ]
115 -->  [0.03544265 0.02983297 0.9347242 ]
116 -->  [0.03920714 0.04596439 0.9148286 ]
117 -->  [0.04743117 0.03036834 0.92220044]
118 -->  [0.04542731 0.07511438 0.8794584 ]
119 -->  [0.0580337  0.02943497 0.91253144]
120 -->  [0.04162276 0.09302609 0.86535114]
121 -->  [0.05667509 0.03076092 0.9125641 ]
122 -->  [0.04223089 0.02268443 0.9350847 ]
123 -->  [0.04182123 0.09183116 0.8663476 ]
124 -->  [0.03948485 0.02382087 0.93669444]
125 -->  [0.02666921 0.0434818  0.9298491 ]
126 -->  [0.05021128 0.05848716 0.8913015 ]
127 -->  [0.03657553 0.02792242 0.9355021 ]
128 -->  [0.03406146 0.05535609 0.9105825 ]
129 -->  [0.04225071 0.02309243 0.934657  ]
130 -->  [0.03084358 0.03816084 0.9309956 ]
131 -->  [0.04043625 0.02209081 0.937473  ]
132 -->  [0.03109135 0.03253155 0.93637705]
133 -->  [0.03131554 0.03194732 0.9367371 ]
134 -->  [0.04242667 0.02224346 0.9353299 ]
135 -->  [0.04214054 0.02300448 0.93485487]
136 -->  [0.03114422 0.03553661 0.93331933]
137 -->  [0.04977637 0.02601379 0.92420983]
138 -->  [0.04679884 0.02531548 0.9278857 ]
139 -->  [0.03250406 0.13752222 0.8299738 ]
140 -->  [0.04741256 0.02193578 0.93065155]
141 -->  [0.0605095  0.02257063 0.91691977]
142 -->  [0.2884775  0.05426873 0.65725374]
143 -->  [0.05350495 0.02408456 0.92241067]
144 -->  [0.02929196 0.2598252  0.7108828 ]
145 -->  [0.04826361 0.12904479 0.8226916 ]
146 -->  [0.04402455 0.02449784 0.93147755]
147 -->  [0.0590439  0.02071223 0.92024386]
148 -->  [0.03680824 0.02732753 0.9358642 ]
149 -->  [0.04098367 0.02614176 0.9328747 ]
150 -->  [0.03809385 0.05070551 0.91120076]
151 -->  [0.03070129 0.03201175 0.93728703]
152 -->  [0.04155916 0.02492495 0.933516  ]
153 -->  [0.0406867  0.03103323 0.92828   ]
154 -->  [0.03456248 0.03466802 0.9307696 ]
155 -->  [0.04767845 0.08732285 0.86499876]
156 -->  [0.0310647  0.06232432 0.9066111 ]
157 -->  [0.09731907 0.02127469 0.88140625]
158 -->  [0.04151408 0.03114232 0.92734367]
159 -->  [0.10603702 0.02195218 0.87201095]
160 -->  [0.03547471 0.03599697 0.9285283 ]
161 -->  [0.04489822 0.02402671 0.931075  ]
162 -->  [0.04427643 0.02981522 0.9259083 ]
163 -->  [0.04625477 0.02541893 0.9283263 ]
164 -->  [0.06017916 0.0204358  0.9193851 ]
165 -->  [0.0559156  0.02311185 0.92097265]
166 -->  [0.05614602 0.02280271 0.92105126]
167 -->  [0.02547263 0.04768753 0.9268399 ]
168 -->  [0.09897278 0.02937987 0.87164724]
169 -->  [0.05767849 0.02999593 0.91232544]
170 -->  [0.9210064  0.01398186 0.0650117 ]
171 -->  [0.05667353 0.02364963 0.91967696]
172 -->  [0.05556392 0.02380101 0.92063516]
173 -->  [0.06149669 0.03020062 0.9083027 ]
174 -->  [0.06068632 0.02760457 0.9117091 ]
175 -->  [0.05105209 0.02693466 0.92201316]
176 -->  [0.06079204 0.02721733 0.9119905 ]
177 -->  [0.07477897 0.01760622 0.9076147 ]
178 -->  [0.0319392  0.02388411 0.94417673]
179 -->  [0.19688742 0.13532023 0.6677923 ]
180 -->  [0.0266826  0.02185037 0.951467  ]
181 -->  [0.0590077  0.06444845 0.876544  ]
182 -->  [0.26766348 0.02055303 0.7117835 ]
183 -->  [0.05162729 0.02526936 0.92310345]
184 -->  [0.05728022 0.09297208 0.8497477 ]
185 -->  [0.06305093 0.02341192 0.91353714]
186 -->  [0.05130193 0.01912301 0.9295751 ]
187 -->  [0.02991498 0.3000684  0.67001665]
188 -->  [0.05911285 0.01979457 0.92109245]
189 -->  [0.04185668 0.03631631 0.92182714]
190 -->  [0.02508923 0.05008673 0.92482406]
191 -->  [0.02852425 0.17283538 0.7986404 ]
192 -->  [0.03177847 0.6334634  0.33475813]
193 -->  [0.01156531 0.9519024  0.03653237]
194 -->  [0.02396837 0.7616171  0.21441457]
195 -->  [0.01073602 0.9511635  0.03810042]
196 -->  [0.01613747 0.9464706  0.03739177]
197 -->  [0.08044778 0.01746421 0.9020879 ]
198 -->  [0.03845603 0.01582246 0.94572157]
199 -->  [0.3431701  0.11337128 0.54345864]
200 -->  [0.03557667 0.01971646 0.944707  ]
201 -->  [0.23355338 0.26673058 0.49971598]
202 -->  [0.16496375 0.05748823 0.77754796]
203 -->  [0.0782477  0.02205858 0.89969385]
204 -->  [0.13470508 0.02158224 0.8437127 ]
205 -->  [0.03678299 0.24903461 0.7141824 ]
206 -->  [0.18879682 0.04804322 0.76315993]
207 -->  [0.59866685 0.04535287 0.3559803 ]
208 -->  [0.02959101 0.02907936 0.9413296 ]
209 -->  [0.04534366 0.19970813 0.75494814]
210 -->  [0.04331684 0.0237708  0.93291247]
211 -->  [0.02965174 0.02124144 0.9491068 ]
212 -->  [0.06312606 0.02250226 0.9143718 ]
213 -->  [0.6606496  0.11942859 0.21992181]
214 -->  [0.04481595 0.03022199 0.92496216]
215 -->  [0.04642397 0.05435835 0.8992178 ]
216 -->  [0.13820215 0.01814645 0.84365153]
217 -->  [0.04531415 0.83765155 0.11703427]
218 -->  [0.04421191 0.03759115 0.91819686]
219 -->  [0.04475658 0.70585513 0.24938819]
220 -->  [0.0366808  0.12436699 0.8389523 ]
221 -->  [0.02294639 0.4662119  0.5108418 ]
222 -->  [0.14274707 0.04729509 0.8099578 ]
223 -->  [0.05536389 0.01668795 0.9279483 ]
224 -->  [0.03568997 0.6254293  0.3388809 ]
225 -->  [0.04097365 0.03125279 0.92777354]
226 -->  [0.09102262 0.01608563 0.8928918 ]
227 -->  [0.01289986 0.87208325 0.11501691]
228 -->  [0.14363064 0.05763714 0.7987322 ]
229 -->  [0.04591358 0.02072276 0.93336356]
230 -->  [0.04420118 0.2473381  0.7084606 ]
231 -->  [0.05196536 0.01480492 0.9332297 ]
232 -->  [0.23553465 0.4609037  0.30356163]
233 -->  [0.05861128 0.05888468 0.88250417]
234 -->  [0.03062576 0.03207042 0.9373038 ]
235 -->  [0.03153405 0.4117407  0.5567252 ]
236 -->  [0.13924551 0.04243216 0.81832224]
237 -->  [0.09566764 0.01191609 0.8924164 ]
238 -->  [0.02883271 0.88674676 0.08442048]
239 -->  [0.02594303 0.52071655 0.45334035]
240 -->  [0.1249937  0.01616905 0.8588372 ]
241 -->  [0.01668642 0.80563086 0.17768271]
242 -->  [0.05308433 0.02316935 0.92374635]
243 -->  [0.07674916 0.01763308 0.9056177 ]
244 -->  [0.01524639 0.9300817  0.0546719 ]
245 -->  [0.0278113  0.03112999 0.94105864]
246 -->  [0.07246776 0.03192218 0.8956099 ]
247 -->  [0.07658781 0.02413511 0.8992772 ]
248 -->  [0.03783501 0.08975629 0.8724087 ]
249 -->  [0.07060749 0.0195879  0.90980446]
250 -->  [0.05579938 0.17003302 0.77416754]
251 -->  [0.32481328 0.1475923  0.5275944 ]
252 -->  [0.06131353 0.0689784  0.8697081 ]
253 -->  [0.03386355 0.03402856 0.9321081 ]
254 -->  [0.0170652  0.8260895  0.15684536]
255 -->  [0.19247495 0.3364141  0.47111088]
256 -->  [0.0634276  0.02568972 0.9108827 ]
257 -->  [0.10071618 0.01286709 0.88641673]
258 -->  [0.02769173 0.0323878  0.9399205 ]
259 -->  [0.18546508 0.17109126 0.64344364]
260 -->  [0.04590137 0.0252307  0.92886794]
261 -->  [0.0256466  0.06468392 0.9096696 ]
262 -->  [0.01571143 0.9320576  0.05223097]
263 -->  [0.05608216 0.09462233 0.8492955 ]
264 -->  [0.30268708 0.02077682 0.6765361 ]
265 -->  [0.02019527 0.1461938  0.8336109 ]
266 -->  [0.09132148 0.01216033 0.8965182 ]
267 -->  [0.0346327  0.02295981 0.94240767]
268 -->  [0.02966483 0.25226304 0.718072  ]
269 -->  [0.0646667  0.02987743 0.90545595]
270 -->  [0.03386835 0.01732739 0.94880426]
271 -->  [0.06457946 0.01219832 0.9232223 ]
272 -->  [0.07962177 0.02364311 0.89673513]
273 -->  [0.03026431 0.47306615 0.4966696 ]
274 -->  [0.03150053 0.10905538 0.8594442 ]
275 -->  [0.02280998 0.03411683 0.9430732 ]
276 -->  [0.03441474 0.2783749  0.6872104 ]
277 -->  [0.06104954 0.09409619 0.8448541 ]
278 -->  [0.19364293 0.05364099 0.752716  ]
279 -->  [0.03811909 0.03245969 0.9294212 ]
280 -->  [0.03547164 0.0371617  0.92736655]
281 -->  [0.14841503 0.06272724 0.78885776]
282 -->  [0.03123851 0.35177997 0.6169813 ]
283 -->  [0.03785611 0.37798923 0.58415467]
284 -->  [0.03570153 0.04397907 0.9203194 ]
285 -->  [0.03483807 0.02247575 0.94268614]
286 -->  [0.05664835 0.01306975 0.930282  ]
287 -->  [0.062191   0.13981475 0.7979942 ]
288 -->  [0.06318612 0.6749605  0.26185343]
289 -->  [0.12800616 0.0114763  0.8605177 ]
290 -->  [0.06965353 0.90830165 0.0220447 ]
291 -->  [0.0482583  0.07877012 0.87297153]
292 -->  [0.07205784 0.77397466 0.1539675 ]
293 -->  [0.11427306 0.03903292 0.8466941 ]
294 -->  [0.03068361 0.24325679 0.72605956]
295 -->  [0.03669399 0.03374358 0.92956257]
296 -->  [0.06319135 0.01863783 0.91817087]
297 -->  [0.01392916 0.7920077  0.1940631 ]
298 -->  [0.03142851 0.06978536 0.8987861 ]
299 -->  [0.08114611 0.01636642 0.9024876 ]
300 -->  [0.03313113 0.04066369 0.9262052 ]
301 -->  [0.45975336 0.0577645  0.48248205]
302 -->  [0.1477094  0.04922863 0.80306196]
303 -->  [0.11537959 0.05961049 0.82500994]

In [ ]:
df['negative'] = neg
df['neutral'] = neu
df['positive'] = pos
df

,Date,Tweet,negative,neutral,positive
0,2020-12-08,Hear me out... a SPAC... ticker BTC... The Bit...,0.071721,0.012185,0.916093
1,2021-04-13,No replacement for $BTC. If $RIOT were to hav...,0.081074,0.022863,0.896064
2,2018-04-30,$SQ Short term tgt $30 started as innovative ...,0.045637,0.731942,0.222421
3,2021-04-17,I mean. We all knew $COIN was gonna come out a...,0.065494,0.040321,0.894185
4,2021-12-04,Just saw someone touting that the ETH/BTC pair...,0.068539,0.049349,0.882112
...,...,...,...,...,...
298,2019-08-05,i cant believe am hearing @CNBC expert say 'u ...,0.081146,0.016366,0.902488
299,2021-05-19,Are you buying or selling Bitcoin Today? #BTC ü™ô,0.033131,0.040664,0.926205
300,2021-12-02,Will gold outperform Bitcoin in 2022? $GLD $BTC,0.459753,0.057765,0.482482
301,2021-06-13,Musk denies speculation Tesla has sold more bi...,0.147709,0.049229,0.803062
302,2017-11-10,"Gartman flips on bitcoin: ""good on‚Äù those who‚Äô...",0.115380,0.059610,0.825010

In [ ]:
dfx = pd.DataFrame()
po = []
nu = []
ne = []
for i in range (0,245):

  d = df['Date'][i]

  x = df[df['Date'] == d]
  po.append(x['positive'].mean())
  nu.append(x['neutral'].mean())
  ne.append(x['negative'].mean())
dfx['Date'] = df1['Date']
dfx['positive'] = po
dfx['negative'] = ne
dfx['neutral'] = nu
dfx

           Date  positive  negative   neutral
0    2017-03-01  0.916093  0.071721  0.012185
1    2017-03-09  0.896064  0.081074  0.022863
2    2017-04-26  0.222421  0.045637  0.731942
3    2017-05-31  0.894185  0.065494  0.040321
4    2017-07-05  0.895871  0.072890  0.031239
..          ...       ...       ...       ...
240  2022-05-02  0.177683  0.016686  0.805631
241  2022-05-03  0.923746  0.053084  0.023169
242  2022-05-09  0.905618  0.076749  0.017633
243  2022-05-10  0.630447  0.038508  0.331045
244  2022-05-11  0.630447  0.038508  0.331045

[245 rows x 4 columns]

In [ ]:
# Set date as Index
dfx = dfx.set_index('Date')
dfx = dfx.sort_index()
dfx

            positive  negative   neutral
Date
2017-03-01  0.916093  0.071721  0.012185
2017-03-09  0.896064  0.081074  0.022863
2017-04-26  0.222421  0.045637  0.731942
2017-05-31  0.894185  0.065494  0.040321
2017-07-05  0.895871  0.072890  0.031239
...              ...       ...       ...
2022-05-02  0.177683  0.016686  0.805631
2022-05-03  0.923746  0.053084  0.023169
2022-05-09  0.905618  0.076749  0.017633
2022-05-10  0.630447  0.038508  0.331045
2022-05-11  0.630447  0.038508  0.331045

[245 rows x 3 columns]

### STOCK DATA

In [ ]:
from pandas_datareader import data as pdr
import yfinance as yf

yf.pdr_override()

stock_price = pdr.get_data_yahoo("BTC-USD", start = '2017-01-01', end = '2022-05-07')
print(len(stock_price))
stock_price

[*********************100%***********************]  1 of 1 completed
1953

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-01,963.658020,1003.080017,958.698975,998.325012,998.325012,147775008
2017-01-02,998.617004,1031.390015,996.702026,1021.750000,1021.750000,222184992
2017-01-03,1021.599976,1044.079956,1021.599976,1043.839966,1043.839966,185168000
2017-01-04,1044.400024,1159.420044,1044.400024,1154.729980,1154.729980,344945984
2017-01-05,1156.729980,1191.099976,910.416992,1013.380005,1013.380005,510199008
...,...,...,...,...,...,...
2022-05-03,38528.109375,38629.996094,37585.621094,37750.453125,37750.453125,27326943244
2022-05-04,37748.011719,39902.949219,37732.058594,39698.371094,39698.371094,36754404490
2022-05-05,39695.746094,39789.281250,35856.515625,36575.140625,36575.140625,43106256317
2022-05-06,36573.183594,36624.359375,35482.132812,36040.921875,36040.921875,37795577489
2022-05-07,36042.503906,36129.925781,34940.824219,35501.953125,35501.953125,24375896406

In [ ]:
stock_price = stock_price.drop_duplicates()

# dropping the zero values from volume
stock_price = stock_price[stock_price['Volume'] != 0]

# filtering the important columns required
stock_price = stock_price.filter(['Date', 'Close', 'Open', 'High', 'Low', 'Volume'])

# sorting the data according to the index i.e 'Date'
stock_price = stock_price.sort_index(ascending=True, axis=0)
stock_price

,Close,Open,High,Low,Volume
Date,,,,,
2017-01-01,998.325012,963.658020,1003.080017,958.698975,147775008
2017-01-02,1021.750000,998.617004,1031.390015,996.702026,222184992
2017-01-03,1043.839966,1021.599976,1044.079956,1021.599976,185168000
2017-01-04,1154.729980,1044.400024,1159.420044,1044.400024,344945984
2017-01-05,1013.380005,1156.729980,1191.099976,910.416992,510199008
...,...,...,...,...,...
2022-05-03,37750.453125,38528.109375,38629.996094,37585.621094,27326943244
2022-05-04,39698.371094,37748.011719,39902.949219,37732.058594,36754404490
2022-05-05,36575.140625,39695.746094,39789.281250,35856.515625,43106256317
2022-05-06,36040.921875,36573.183594,36624.359375,35482.132812,37795577489
2022-05-07,35501.953125,36042.503906,36129.925781,34940.824219,24375896406

### COMBINE DATA

In [ ]:
stock_data = pd.merge(stock_price,dfx, how='left', left_index=True, right_index=True)

stock_data

,Close,Open,High,Low,Volume,positive,negative,neutral
Date,,,,,,,,
2017-01-01,998.325012,963.658020,1003.080017,958.698975,147775008,NaN,NaN,NaN
2017-01-02,1021.750000,998.617004,1031.390015,996.702026,222184992,NaN,NaN,NaN
2017-01-03,1043.839966,1021.599976,1044.079956,1021.599976,185168000,NaN,NaN,NaN
2017-01-04,1154.729980,1044.400024,1159.420044,1044.400024,344945984,NaN,NaN,NaN
2017-01-05,1013.380005,1156.729980,1191.099976,910.416992,510199008,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-05-03,37750.453125,38528.109375,38629.996094,37585.621094,27326943244,0.923746,0.053084,0.023169
2022-05-04,39698.371094,37748.011719,39902.949219,37732.058594,36754404490,NaN,NaN,NaN
2022-05-05,36575.140625,39695.746094,39789.281250,35856.515625,43106256317,NaN,NaN,NaN
2022-05-06,36040.921875,36573.183594,36624.359375,35482.132812,37795577489,NaN,NaN,NaN
2022-05-07,35501.953125,36042.503906,36129.925781,34940.824219,24375896406,NaN,NaN,NaN

In [ ]:
stock_data.sort_index(axis = 1)
stock_data

,Close,Open,High,Low,Volume,positive,negative,neutral
Date,,,,,,,,
2017-01-01,998.325012,963.658020,1003.080017,958.698975,147775008,NaN,NaN,NaN
2017-01-02,1021.750000,998.617004,1031.390015,996.702026,222184992,NaN,NaN,NaN
2017-01-03,1043.839966,1021.599976,1044.079956,1021.599976,185168000,NaN,NaN,NaN
2017-01-04,1154.729980,1044.400024,1159.420044,1044.400024,344945984,NaN,NaN,NaN
2017-01-05,1013.380005,1156.729980,1191.099976,910.416992,510199008,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-05-03,37750.453125,38528.109375,38629.996094,37585.621094,27326943244,0.923746,0.053084,0.023169
2022-05-04,39698.371094,37748.011719,39902.949219,37732.058594,36754404490,NaN,NaN,NaN
2022-05-05,36575.140625,39695.746094,39789.281250,35856.515625,43106256317,NaN,NaN,NaN
2022-05-06,36040.921875,36573.183594,36624.359375,35482.132812,37795577489,NaN,NaN,NaN
2022-05-07,35501.953125,36042.503906,36129.925781,34940.824219,24375896406,NaN,NaN,NaN

In [ ]:
stock_data.isna().any()

Close       False
Open        False
High        False
Low         False
Volume      False
positive     True
negative     True
neutral      True
dtype: bool

In [ ]:
# rearranging the columns of the whole stock_data
stock_data = stock_data[['Close', 'negative', 'neutral', 'positive', 'Open', 'High', 'Low', 'Volume']]

# displaying the final stock_data
stock_data

,Close,negative,neutral,positive,Open,High,Low,Volume
Date,,,,,,,,
2017-01-01,998.325012,NaN,NaN,NaN,963.658020,1003.080017,958.698975,147775008
2017-01-02,1021.750000,NaN,NaN,NaN,998.617004,1031.390015,996.702026,222184992
2017-01-03,1043.839966,NaN,NaN,NaN,1021.599976,1044.079956,1021.599976,185168000
2017-01-04,1154.729980,NaN,NaN,NaN,1044.400024,1159.420044,1044.400024,344945984
2017-01-05,1013.380005,NaN,NaN,NaN,1156.729980,1191.099976,910.416992,510199008
...,...,...,...,...,...,...,...,...
2022-05-03,37750.453125,0.053084,0.023169,0.923746,38528.109375,38629.996094,37585.621094,27326943244
2022-05-04,39698.371094,NaN,NaN,NaN,37748.011719,39902.949219,37732.058594,36754404490
2022-05-05,36575.140625,NaN,NaN,NaN,39695.746094,39789.281250,35856.515625,43106256317
2022-05-06,36040.921875,NaN,NaN,NaN,36573.183594,36624.359375,35482.132812,37795577489
2022-05-07,35501.953125,NaN,NaN,NaN,36042.503906,36129.925781,34940.824219,24375896406

In [ ]:
stock_data.to_csv('/content/drive/MyDrive/JU Project/EXEC_FINBERT_BTC_data.csv')