In [1]:
import pandas as pd

In [2]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.3 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Collecting lxml>=4.5.1
  Downloading lxml-4.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 44.0 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.9.1 requests-2.28.1 yfinance-0.1.74

### Stock data

In [3]:
from pandas_datareader import data as pdr
import yfinance as yf

yf.pdr_override()

stock_price = pdr.get_data_yahoo("TSLA", start = '2017-01-01', end = '2022-05-07')
print(len(stock_price))
stock_price

[*********************100%***********************]  1 of 1 completed
1346

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,42.972000,44.066002,42.192001,43.397999,43.397999,29616500
2017-01-04,42.950001,45.599998,42.862000,45.397999,45.397999,56067500
2017-01-05,45.284000,45.495998,44.389999,45.349998,45.349998,29558500
2017-01-06,45.386002,46.062000,45.090000,45.801998,45.801998,27639500
2017-01-09,45.793999,46.383999,45.599998,46.256001,46.256001,19897500
...,...,...,...,...,...,...
2022-05-02,860.770020,906.359985,848.030029,902.940002,902.940002,25260500
2022-05-03,903.179993,924.080017,888.590027,909.250000,909.250000,21236500
2022-05-04,903.940002,955.500000,885.280029,952.619995,952.619995,27214600
2022-05-05,939.020020,945.599976,857.700012,873.280029,873.280029,30839700
2022-05-06,887.000000,888.000000,843.109985,865.650024,865.650024,24301000

In [4]:
stock_price

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,42.972000,44.066002,42.192001,43.397999,43.397999,29616500
2017-01-04,42.950001,45.599998,42.862000,45.397999,45.397999,56067500
2017-01-05,45.284000,45.495998,44.389999,45.349998,45.349998,29558500
2017-01-06,45.386002,46.062000,45.090000,45.801998,45.801998,27639500
2017-01-09,45.793999,46.383999,45.599998,46.256001,46.256001,19897500
...,...,...,...,...,...,...
2022-05-02,860.770020,906.359985,848.030029,902.940002,902.940002,25260500
2022-05-03,903.179993,924.080017,888.590027,909.250000,909.250000,21236500
2022-05-04,903.940002,955.500000,885.280029,952.619995,952.619995,27214600
2022-05-05,939.020020,945.599976,857.700012,873.280029,873.280029,30839700
2022-05-06,887.000000,888.000000,843.109985,865.650024,865.650024,24301000

In [5]:
len(stock_price)

1346

In [6]:
stock_price = stock_price.drop_duplicates()

# dropping the zero values from volume
stock_price = stock_price[stock_price['Volume'] != 0]

# filtering the important columns required
stock_price = stock_price.filter(['Date', 'Close', 'Open', 'High', 'Low', 'Volume'])

# sorting the data according to the index i.e 'Date'
stock_price = stock_price.sort_index(ascending=True, axis=0)
stock_price

                 Close        Open        High         Low    Volume
Date
2017-01-03   43.397999   42.972000   44.066002   42.192001  29616500
2017-01-04   45.397999   42.950001   45.599998   42.862000  56067500
2017-01-05   45.349998   45.284000   45.495998   44.389999  29558500
2017-01-06   45.801998   45.386002   46.062000   45.090000  27639500
2017-01-09   46.256001   45.793999   46.383999   45.599998  19897500
...                ...         ...         ...         ...       ...
2022-05-02  902.940002  860.770020  906.359985  848.030029  25260500
2022-05-03  909.250000  903.179993  924.080017  888.590027  21236500
2022-05-04  952.619995  903.940002  955.500000  885.280029  27214600
2022-05-05  873.280029  939.020020  945.599976  857.700012  30839700
2022-05-06  865.650024  887.000000  888.000000  843.109985  24301000

[1346 rows x 5 columns]

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Tweets

In [24]:
df = pd.read_csv('/content/drive/MyDrive/JU PROJ/ExecutiveTweetsTesla.csv')
df

,Date,Tweet
0,2018-08-07 18:25:02+00:00,Looks like nothing's changed in FinTwit land t...
1,2018-07-05 22:03:47+00:00,"If $TSLA's BOD is indeed populated by living, ..."
2,2018-05-02 22:32:48+00:00,So picked it up late bit is this an earnings r...
3,2018-03-08 23:59:37+00:00,Chief Accounting Officer packs his bags and ru...
4,2017-11-01 23:31:22+00:00,"Believe it or not, this was the 1st $TSLA CC I..."
...,...,...
2612,2022-02-24 13:37:30+00:00,Patiently waiting for @elonmusk to tweet somet...
2613,2021-11-14 23:40:05+00:00,Who do you side with ? $tsla
2614,2021-10-08 11:33:01+00:00,Will Elon’s pivot to Texas help Tesla sharehol...
2615,2017-02-01 14:20:35+00:00,"Worth about 10% up, no? JUST IN: Tesla Motors ..."
2616,2018-08-01 20:50:50+00:00,happy i'm not involved in the $TSLA $TSLAQ deb...

In [25]:
df['Date'] = pd.to_datetime(df['Date']).dt.date
df

            Date                                              Tweet
0     2018-08-07  Looks like nothing's changed in FinTwit land t...
1     2018-07-05  If $TSLA's BOD is indeed populated by living, ...
2     2018-05-02  So picked it up late bit is this an earnings r...
3     2018-03-08  Chief Accounting Officer packs his bags and ru...
4     2017-11-01  Believe it or not, this was the 1st $TSLA CC I...
...          ...                                                ...
2612  2022-02-24  Patiently waiting for @elonmusk to tweet somet...
2613  2021-11-14                       Who do you side with ? $tsla
2614  2021-10-08  Will Elon’s pivot to Texas help Tesla sharehol...
2615  2017-02-01  Worth about 10% up, no? JUST IN: Tesla Motors ...
2616  2018-08-01  happy i'm not involved in the $TSLA $TSLAQ deb...

[2617 rows x 2 columns]

In [26]:
def tweets_per_day(df):
    df['Date'] = pd.to_datetime(df['Date'])
#   return df[['Tweets']].groupby(df['Date'].dt.date).count()
    tweet = df['Tweet'].groupby(df['Date'].dt.date).count() 
    d1 = pd.DataFrame(tweet)
    return d1
  # if you want output to be `Series`

df1 = tweets_per_day(df)
df1 = df1.reset_index(level=0)
df1

           Date  Tweet
0    2017-01-02      1
1    2017-01-03      2
2    2017-01-04      6
3    2017-01-05      2
4    2017-01-17      1
..          ...    ...
858  2022-04-25      2
859  2022-04-26      7
860  2022-04-28      5
861  2022-04-29      3
862  2022-05-05      1

[863 rows x 2 columns]

In [27]:
#df = df.groupby(['Date'])['Tweet'].apply(lambda x: '. '.join(x.astype(str))).reset_index()
df

           Date                                              Tweet
0    2018-08-07  Looks like nothing's changed in FinTwit land t...
1    2018-07-05  If $TSLA's BOD is indeed populated by living, ...
2    2018-05-02  So picked it up late bit is this an earnings r...
3    2018-03-08  Chief Accounting Officer packs his bags and ru...
4    2017-11-01  Believe it or not, this was the 1st $TSLA CC I...
...         ...                                                ...
2612 2022-02-24  Patiently waiting for @elonmusk to tweet somet...
2613 2021-11-14                       Who do you side with ? $tsla
2614 2021-10-08  Will Elon’s pivot to Texas help Tesla sharehol...
2615 2017-02-01  Worth about 10% up, no? JUST IN: Tesla Motors ...
2616 2018-08-01  happy i'm not involved in the $TSLA $TSLAQ deb...

[2617 rows x 2 columns]

In [28]:
import nltk 
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
import re

# adding empty sentiment columns to stock_data for later calculation
df['compound'] = ''
df['negative'] = ''
df['neutral'] = ''
df['positive'] = ''

stop_words = stopwords.words('english')
stop_words.remove("not")
stemmer = SnowballStemmer('english')

text_cleaning_re = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"

def preprocess(text, stem=False):
  text = re.sub(text_cleaning_re, ' ', str(text).lower()).strip()
  tokens = []
  for token in text.split():
    if token not in stop_words:
      if stem:
        tokens.append(stemmer.stem(token))
      else:
        tokens.append(token)
  return " ".join(tokens)

df.Tweets = df.Tweet.apply(lambda x: preprocess(x))
df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

,Date,Tweet,compound,negative,neutral,positive
0,2018-08-07,Looks like nothing's changed in FinTwit land t...,,,,
1,2018-07-05,"If $TSLA's BOD is indeed populated by living, ...",,,,
2,2018-05-02,So picked it up late bit is this an earnings r...,,,,
3,2018-03-08,Chief Accounting Officer packs his bags and ru...,,,,
4,2017-11-01,"Believe it or not, this was the 1st $TSLA CC I...",,,,
...,...,...,...,...,...,...
2612,2022-02-24,Patiently waiting for @elonmusk to tweet somet...,,,,
2613,2021-11-14,Who do you side with ? $tsla,,,,
2614,2021-10-08,Will Elon’s pivot to Texas help Tesla sharehol...,,,,
2615,2017-02-01,"Worth about 10% up, no? JUST IN: Tesla Motors ...",,,,
2616,2018-08-01,happy i'm not involved in the $TSLA $TSLAQ deb...,,,,

In [29]:
# importing requires libraries to analyze the sentiments
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import unicodedata

# instantiating the Sentiment Analyzer
sid = SentimentIntensityAnalyzer()

# calculating sentiment scores
df['compound'] = df['Tweet'].apply(lambda x: sid.polarity_scores(x)['compound'])
df['negative'] = df['Tweet'].apply(lambda x: sid.polarity_scores(x)['neg'])
df['neutral'] = df['Tweet'].apply(lambda x: sid.polarity_scores(x)['neu'])
df['positive'] = df['Tweet'].apply(lambda x: sid.polarity_scores(x)['pos'])

# displaying the stock data
df

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

,Date,Tweet,compound,negative,neutral,positive
0,2018-08-07,Looks like nothing's changed in FinTwit land t...,0.0772,0.054,0.885,0.061
1,2018-07-05,"If $TSLA's BOD is indeed populated by living, ...",0.0000,0.000,1.000,0.000
2,2018-05-02,So picked it up late bit is this an earnings r...,0.0000,0.000,1.000,0.000
3,2018-03-08,Chief Accounting Officer packs his bags and ru...,0.4767,0.000,0.785,0.215
4,2017-11-01,"Believe it or not, this was the 1st $TSLA CC I...",-0.7149,0.166,0.834,0.000
...,...,...,...,...,...,...
2612,2022-02-24,Patiently waiting for @elonmusk to tweet somet...,0.0000,0.000,1.000,0.000
2613,2021-11-14,Who do you side with ? $tsla,0.0000,0.000,1.000,0.000
2614,2021-10-08,Will Elon’s pivot to Texas help Tesla sharehol...,0.4696,0.000,0.797,0.203
2615,2017-02-01,"Worth about 10% up, no? JUST IN: Tesla Motors ...",-0.0772,0.129,0.760,0.111
2616,2018-08-01,happy i'm not involved in the $TSLA $TSLAQ deb...,0.5719,0.000,0.837,0.163

In [30]:
df.shape

(2617, 6)

In [32]:
dfx = pd.DataFrame()
po = []
nu = []
ne = []
for i in range (0,863):

  d = df['Date'][i]

  x = df[df['Date'] == d]
  po.append(x['positive'].mean())
  nu.append(x['neutral'].mean())
  ne.append(x['negative'].mean())
dfx['Date'] = df1['Date']
dfx['positive'] = po
dfx['negative'] = ne
dfx['neutral'] = nu
dfx

           Date  positive  negative   neutral
0    2017-01-02  0.117037  0.072148  0.810778
1    2017-01-03  0.063125  0.050500  0.886250
2    2017-01-04  0.075048  0.074762  0.850238
3    2017-01-05  0.215000  0.000000  0.785000
4    2017-01-17  0.088182  0.105636  0.806000
..          ...       ...       ...       ...
858  2022-04-25  0.098571  0.059571  0.841857
859  2022-04-26  0.098571  0.059571  0.841857
860  2022-04-28  0.098571  0.059571  0.841857
861  2022-04-29  0.081667  0.035167  0.883167
862  2022-05-05  0.081667  0.035167  0.883167

[863 rows x 4 columns]

In [34]:
# Set date as Index
dfx = dfx.set_index('Date')
dfx = dfx.sort_index()
dfx

            positive  negative   neutral
Date
2017-01-02  0.117037  0.072148  0.810778
2017-01-03  0.063125  0.050500  0.886250
2017-01-04  0.075048  0.074762  0.850238
2017-01-05  0.215000  0.000000  0.785000
2017-01-17  0.088182  0.105636  0.806000
...              ...       ...       ...
2022-04-25  0.098571  0.059571  0.841857
2022-04-26  0.098571  0.059571  0.841857
2022-04-28  0.098571  0.059571  0.841857
2022-04-29  0.081667  0.035167  0.883167
2022-05-05  0.081667  0.035167  0.883167

[863 rows x 3 columns]

In [35]:
stock_price.shape

(1346, 5)

### Combine data

In [36]:
stock_data = pd.merge(stock_price,dfx, how='left', left_index=True, right_index=True)

stock_data

,Close,Open,High,Low,Volume,positive,negative,neutral
Date,,,,,,,,
2017-01-03,43.397999,42.972000,44.066002,42.192001,29616500,0.063125,0.050500,0.886250
2017-01-04,45.397999,42.950001,45.599998,42.862000,56067500,0.075048,0.074762,0.850238
2017-01-05,45.349998,45.284000,45.495998,44.389999,29558500,0.215000,0.000000,0.785000
2017-01-06,45.801998,45.386002,46.062000,45.090000,27639500,NaN,NaN,NaN
2017-01-09,46.256001,45.793999,46.383999,45.599998,19897500,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-05-02,902.940002,860.770020,906.359985,848.030029,25260500,NaN,NaN,NaN
2022-05-03,909.250000,903.179993,924.080017,888.590027,21236500,NaN,NaN,NaN
2022-05-04,952.619995,903.940002,955.500000,885.280029,27214600,NaN,NaN,NaN
2022-05-05,873.280029,939.020020,945.599976,857.700012,30839700,0.081667,0.035167,0.883167
2022-05-06,865.650024,887.000000,888.000000,843.109985,24301000,NaN,NaN,NaN

In [37]:
stock_data.sort_index(axis = 1)
stock_data

,Close,Open,High,Low,Volume,positive,negative,neutral
Date,,,,,,,,
2017-01-03,43.397999,42.972000,44.066002,42.192001,29616500,0.063125,0.050500,0.886250
2017-01-04,45.397999,42.950001,45.599998,42.862000,56067500,0.075048,0.074762,0.850238
2017-01-05,45.349998,45.284000,45.495998,44.389999,29558500,0.215000,0.000000,0.785000
2017-01-06,45.801998,45.386002,46.062000,45.090000,27639500,NaN,NaN,NaN
2017-01-09,46.256001,45.793999,46.383999,45.599998,19897500,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-05-02,902.940002,860.770020,906.359985,848.030029,25260500,NaN,NaN,NaN
2022-05-03,909.250000,903.179993,924.080017,888.590027,21236500,NaN,NaN,NaN
2022-05-04,952.619995,903.940002,955.500000,885.280029,27214600,NaN,NaN,NaN
2022-05-05,873.280029,939.020020,945.599976,857.700012,30839700,0.081667,0.035167,0.883167
2022-05-06,865.650024,887.000000,888.000000,843.109985,24301000,NaN,NaN,NaN

In [38]:
stock_data.isna().sum()

Close         0
Open          0
High          0
Low           0
Volume        0
positive    577
negative    577
neutral     577
dtype: int64

In [39]:
#stock_data.drop(['Tweet'], inplace=True, axis=1)

# rearranging the columns of the whole stock_data
stock_data = stock_data[['Close', 'negative', 'neutral', 'positive', 'Open', 'High', 'Low', 'Volume']]

# displaying the final stock_data
stock_data

,Close,negative,neutral,positive,Open,High,Low,Volume
Date,,,,,,,,
2017-01-03,43.397999,0.050500,0.886250,0.063125,42.972000,44.066002,42.192001,29616500
2017-01-04,45.397999,0.074762,0.850238,0.075048,42.950001,45.599998,42.862000,56067500
2017-01-05,45.349998,0.000000,0.785000,0.215000,45.284000,45.495998,44.389999,29558500
2017-01-06,45.801998,NaN,NaN,NaN,45.386002,46.062000,45.090000,27639500
2017-01-09,46.256001,NaN,NaN,NaN,45.793999,46.383999,45.599998,19897500
...,...,...,...,...,...,...,...,...
2022-05-02,902.940002,NaN,NaN,NaN,860.770020,906.359985,848.030029,25260500
2022-05-03,909.250000,NaN,NaN,NaN,903.179993,924.080017,888.590027,21236500
2022-05-04,952.619995,NaN,NaN,NaN,903.940002,955.500000,885.280029,27214600
2022-05-05,873.280029,0.035167,0.883167,0.081667,939.020020,945.599976,857.700012,30839700
2022-05-06,865.650024,NaN,NaN,NaN,887.000000,888.000000,843.109985,24301000

In [40]:
stock_data.to_csv('/content/drive/MyDrive/JU PROJ/EXEC_Tesla_stock_data_Vader.csv')