In [ ]:
import pandas as pd

In [ ]:
!pip install yfinance

### Stock data

In [ ]:
from pandas_datareader import data as pdr
import yfinance as yf

yf.pdr_override()

stock_price = pdr.get_data_yahoo("TSLA", start = '2017-01-01', end = '2022-05-07')

In [ ]:
stock_price

In [ ]:
len(stock_price)

In [ ]:
stock_price = stock_price.drop_duplicates()

# dropping the zero values from volume
stock_price = stock_price[stock_price['Volume'] != 0]

# filtering the important columns required
stock_price = stock_price.filter(['Date', 'Close', 'Open', 'High', 'Low', 'Volume'])

# sorting the data according to the index i.e 'Date'
stock_price = stock_price.sort_index(ascending=True, axis=0)
stock_price

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

### Tweets

In [52]:
df = pd.read_csv('/content/drive/MyDrive/JU PROJ/GeneralTweetsTesla.csv')
df

,Date,Tweet
0,2022-05-06 16:46:46+00:00,$VALE has signed a long term deal with Tesla t...
1,2022-05-06 16:46:24+00:00,$TSLA drops 8% yesterday and we cheer as it ba...
2,2022-05-06 16:45:52+00:00,"I know it seems pretty obvious to say, but I d..."
3,2022-05-06 16:39:32+00:00,$TSLA is targetting pre-lockdown output at Gig...
4,2022-05-06 16:37:38+00:00,I’m looking for $TSLA to snap VWAP but it’s be...
...,...,...
482370,2017-01-01 17:11:47+00:00,2017 stocks to watch $IRBT $PYPL $GLRE $STT $A...
482371,2017-01-01 05:30:38+00:00,flying cars are now 17 years behind schedule.\...
482372,2017-01-01 02:01:33+00:00,$TSLA delivers 980 cars in Norway vs 1250 in Q3
482373,2017-01-01 01:59:49+00:00,$TSLA not rolling out AP 2.0 in Q4 means most ...
482374,2017-01-01 00:34:08+00:00,$TSLA\nKallo rates Tesla’ stock an ‘Outperform...

In [53]:
df['Date'] = pd.to_datetime(df['Date']).dt.date
df

              Date                                              Tweet
0       2022-05-06  $VALE has signed a long term deal with Tesla t...
1       2022-05-06  $TSLA drops 8% yesterday and we cheer as it ba...
2       2022-05-06  I know it seems pretty obvious to say, but I d...
3       2022-05-06  $TSLA is targetting pre-lockdown output at Gig...
4       2022-05-06  I’m looking for $TSLA to snap VWAP but it’s be...
...            ...                                                ...
482370  2017-01-01  2017 stocks to watch $IRBT $PYPL $GLRE $STT $A...
482371  2017-01-01  flying cars are now 17 years behind schedule.\...
482372  2017-01-01    $TSLA delivers 980 cars in Norway vs 1250 in Q3
482373  2017-01-01  $TSLA not rolling out AP 2.0 in Q4 means most ...
482374  2017-01-01  $TSLA\nKallo rates Tesla’ stock an ‘Outperform...

[482375 rows x 2 columns]

In [54]:
def tweets_per_day(df):
    df['Date'] = pd.to_datetime(df['Date'])
#   return df[['Tweets']].groupby(df['Date'].dt.date).count()
    tweet = df['Tweet'].groupby(df['Date'].dt.date).count() 
    d1 = pd.DataFrame(tweet)
    return d1
  # if you want output to be `Series`

df1 = tweets_per_day(df)
df1 = df1.reset_index(level=0)
df1['fraction'] = df1['Tweet']*20000/482375

for i in range(0, 1952):
  if df1['fraction'][i] < 1:
    df1['fraction'][i] = 1
  else:
    df1['fraction'][i] = df1['fraction'][i].astype(int)

df1['fraction'] = df1['fraction'].astype(int)
df1['Date'] = pd.to_datetime(df1['Date'])

dfx = pd.DataFrame(columns=['Date', 'Tweet'])

for i in range (0,1952):

  d = df1['Date'][i]
  f = df1['fraction'][i]

  x = df[df['Date'] == d]
  x = x.sample(n = f)
  dfx = dfx.append(x, ignore_index = True)
dfx
df = dfx
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            Date                                              Tweet
0     2017-01-01  flying cars are now 17 years behind schedule.\...
1     2017-01-02  Which one will lead FANG performance in 2017? ...
2     2017-01-03  $TSLA sees FEB.17, 2017 CALLs 235 open interes...
3     2017-01-03  $tsla has no lead in mobility or autonomous dr...
4     2017-01-03  WARNING: Do NOT buy into Tue am's rebounce. Mk...
...          ...                                                ...
19159 2022-05-06  $UA earnings was already priced in. #long $SPY...
19160 2022-05-06  Holy cow I just built the same @tesla Model 3 ...
19161 2022-05-06  $AAPL $MSFT $NVDA $GOOGL $TSLA\n\nAll look the...
19162 2022-05-06  SWEEP 309 $TSLA 05/13/22 $800 puts for $16.73 ...
19163 2022-05-06  Here's what I did today\n\n$NVDA covered/long\...

[19164 rows x 2 columns]

In [55]:
#df = df.groupby(['Date'])['Tweet'].apply(lambda x: '. '.join(x.astype(str))).reset_index()
df

            Date                                              Tweet
0     2017-01-01  flying cars are now 17 years behind schedule.\...
1     2017-01-02  Which one will lead FANG performance in 2017? ...
2     2017-01-03  $TSLA sees FEB.17, 2017 CALLs 235 open interes...
3     2017-01-03  $tsla has no lead in mobility or autonomous dr...
4     2017-01-03  WARNING: Do NOT buy into Tue am's rebounce. Mk...
...          ...                                                ...
19159 2022-05-06  $UA earnings was already priced in. #long $SPY...
19160 2022-05-06  Holy cow I just built the same @tesla Model 3 ...
19161 2022-05-06  $AAPL $MSFT $NVDA $GOOGL $TSLA\n\nAll look the...
19162 2022-05-06  SWEEP 309 $TSLA 05/13/22 $800 puts for $16.73 ...
19163 2022-05-06  Here's what I did today\n\n$NVDA covered/long\...

[19164 rows x 2 columns]

In [56]:
import nltk 
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
import re

# adding empty sentiment columns to stock_data for later calculation
df['compound'] = ''
df['negative'] = ''
df['neutral'] = ''
df['positive'] = ''

stop_words = stopwords.words('english')
stop_words.remove("not")
stemmer = SnowballStemmer('english')

text_cleaning_re = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"

def preprocess(text, stem=False):
  text = re.sub(text_cleaning_re, ' ', str(text).lower()).strip()
  tokens = []
  for token in text.split():
    if token not in stop_words:
      if stem:
        tokens.append(stemmer.stem(token))
      else:
        tokens.append(token)
  return " ".join(tokens)

df.Tweets = df.Tweet.apply(lambda x: preprocess(x))
df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

,Date,Tweet,compound,negative,neutral,positive
0,2017-01-01,flying cars are now 17 years behind schedule.\...,,,,
1,2017-01-02,Which one will lead FANG performance in 2017? ...,,,,
2,2017-01-03,"$TSLA sees FEB.17, 2017 CALLs 235 open interes...",,,,
3,2017-01-03,$tsla has no lead in mobility or autonomous dr...,,,,
4,2017-01-03,WARNING: Do NOT buy into Tue am's rebounce. Mk...,,,,
...,...,...,...,...,...,...
19159,2022-05-06,$UA earnings was already priced in. #long $SPY...,,,,
19160,2022-05-06,Holy cow I just built the same @tesla Model 3 ...,,,,
19161,2022-05-06,$AAPL $MSFT $NVDA $GOOGL $TSLA\n\nAll look the...,,,,
19162,2022-05-06,SWEEP 309 $TSLA 05/13/22 $800 puts for $16.73 ...,,,,
19163,2022-05-06,Here's what I did today\n\n$NVDA covered/long\...,,,,

In [57]:
# importing requires libraries to analyze the sentiments
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import unicodedata

# instantiating the Sentiment Analyzer
sid = SentimentIntensityAnalyzer()

# calculating sentiment scores
df['compound'] = df['Tweet'].apply(lambda x: sid.polarity_scores(x)['compound'])
df['negative'] = df['Tweet'].apply(lambda x: sid.polarity_scores(x)['neg'])
df['neutral'] = df['Tweet'].apply(lambda x: sid.polarity_scores(x)['neu'])
df['positive'] = df['Tweet'].apply(lambda x: sid.polarity_scores(x)['pos'])

# displaying the stock data
df

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

,Date,Tweet,compound,negative,neutral,positive
0,2017-01-01,flying cars are now 17 years behind schedule.\...,0.0000,0.000,1.000,0.000
1,2017-01-02,Which one will lead FANG performance in 2017? ...,0.0000,0.000,1.000,0.000
2,2017-01-03,"$TSLA sees FEB.17, 2017 CALLs 235 open interes...",-0.0516,0.167,0.714,0.119
3,2017-01-03,$tsla has no lead in mobility or autonomous dr...,-0.2960,0.091,0.909,0.000
4,2017-01-03,WARNING: Do NOT buy into Tue am's rebounce. Mk...,-0.7538,0.244,0.756,0.000
...,...,...,...,...,...,...
19159,2022-05-06,$UA earnings was already priced in. #long $SPY...,0.0000,0.000,1.000,0.000
19160,2022-05-06,Holy cow I just built the same @tesla Model 3 ...,0.3612,0.000,0.923,0.077
19161,2022-05-06,$AAPL $MSFT $NVDA $GOOGL $TSLA\n\nAll look the...,-0.5719,0.101,0.899,0.000
19162,2022-05-06,SWEEP 309 $TSLA 05/13/22 $800 puts for $16.73 ...,0.0000,0.000,1.000,0.000
19163,2022-05-06,Here's what I did today\n\n$NVDA covered/long\...,0.0000,0.000,1.000,0.000

In [58]:
dfx = pd.DataFrame()
po = []
nu = []
ne = []
for i in range (0,1952):

  d = df1['Date'][i]

  x = df[df['Date'] == d]
  po.append(x['positive'].mean())
  nu.append(x['neutral'].mean())
  ne.append(x['negative'].mean())
dfx['Date'] = df1['Date']
dfx['positive'] = po
dfx['negative'] = ne
dfx['neutral'] = nu
dfx

           Date  positive  negative   neutral
0    2017-01-01  0.000000  0.000000  1.000000
1    2017-01-02  0.000000  0.000000  1.000000
2    2017-01-03  0.055500  0.181000  0.763500
3    2017-01-04  0.093429  0.009286  0.897286
4    2017-01-05  0.102000  0.000000  0.898000
...         ...       ...       ...       ...
1947 2022-05-02  0.109800  0.045250  0.844950
1948 2022-05-03  0.066611  0.024722  0.908667
1949 2022-05-04  0.084650  0.044100  0.871200
1950 2022-05-05  0.064929  0.040071  0.894964
1951 2022-05-06  0.052286  0.017500  0.930214

[1952 rows x 4 columns]

In [59]:
dfx.shape

(1952, 4)

In [60]:
# Set date as Index
dfx = dfx.set_index('Date')
dfx = dfx.sort_index()
dfx

            positive  negative   neutral
Date
2017-01-01  0.000000  0.000000  1.000000
2017-01-02  0.000000  0.000000  1.000000
2017-01-03  0.055500  0.181000  0.763500
2017-01-04  0.093429  0.009286  0.897286
2017-01-05  0.102000  0.000000  0.898000
...              ...       ...       ...
2022-05-02  0.109800  0.045250  0.844950
2022-05-03  0.066611  0.024722  0.908667
2022-05-04  0.084650  0.044100  0.871200
2022-05-05  0.064929  0.040071  0.894964
2022-05-06  0.052286  0.017500  0.930214

[1952 rows x 3 columns]

In [61]:
stock_price.shape

(1346, 5)

### Combine data

In [62]:
stock_data = pd.merge(stock_price,dfx, how='left', left_index=True, right_index=True)

stock_data

,Close,Open,High,Low,Volume,positive,negative,neutral
Date,,,,,,,,
2017-01-03,43.397999,42.972000,44.066002,42.192001,29616500,0.055500,0.181000,0.763500
2017-01-04,45.397999,42.950001,45.599998,42.862000,56067500,0.093429,0.009286,0.897286
2017-01-05,45.349998,45.284000,45.495998,44.389999,29558500,0.102000,0.000000,0.898000
2017-01-06,45.801998,45.386002,46.062000,45.090000,27639500,0.000000,0.072000,0.928000
2017-01-09,46.256001,45.793999,46.383999,45.599998,19897500,0.185000,0.000000,0.815000
...,...,...,...,...,...,...,...,...
2022-05-02,902.940002,860.770020,906.359985,848.030029,25260500,0.109800,0.045250,0.844950
2022-05-03,909.250000,903.179993,924.080017,888.590027,21236500,0.066611,0.024722,0.908667
2022-05-04,952.619995,903.940002,955.500000,885.280029,27214600,0.084650,0.044100,0.871200
2022-05-05,873.280029,939.020020,945.599976,857.700012,30839700,0.064929,0.040071,0.894964
2022-05-06,865.650024,887.000000,888.000000,843.109985,24301000,0.052286,0.017500,0.930214

In [63]:
stock_data.sort_index(axis = 1)
stock_data

,Close,Open,High,Low,Volume,positive,negative,neutral
Date,,,,,,,,
2017-01-03,43.397999,42.972000,44.066002,42.192001,29616500,0.055500,0.181000,0.763500
2017-01-04,45.397999,42.950001,45.599998,42.862000,56067500,0.093429,0.009286,0.897286
2017-01-05,45.349998,45.284000,45.495998,44.389999,29558500,0.102000,0.000000,0.898000
2017-01-06,45.801998,45.386002,46.062000,45.090000,27639500,0.000000,0.072000,0.928000
2017-01-09,46.256001,45.793999,46.383999,45.599998,19897500,0.185000,0.000000,0.815000
...,...,...,...,...,...,...,...,...
2022-05-02,902.940002,860.770020,906.359985,848.030029,25260500,0.109800,0.045250,0.844950
2022-05-03,909.250000,903.179993,924.080017,888.590027,21236500,0.066611,0.024722,0.908667
2022-05-04,952.619995,903.940002,955.500000,885.280029,27214600,0.084650,0.044100,0.871200
2022-05-05,873.280029,939.020020,945.599976,857.700012,30839700,0.064929,0.040071,0.894964
2022-05-06,865.650024,887.000000,888.000000,843.109985,24301000,0.052286,0.017500,0.930214

In [64]:
stock_data.isna().sum()

Close       0
Open        0
High        0
Low         0
Volume      0
positive    0
negative    0
neutral     0
dtype: int64

In [66]:
# rearranging the columns of the whole stock_data
stock_data = stock_data[['Close', 'negative', 'neutral', 'positive', 'Open', 'High', 'Low', 'Volume']]

# displaying the final stock_data
stock_data

,Close,negative,neutral,positive,Open,High,Low,Volume
Date,,,,,,,,
2017-01-03,43.397999,0.181000,0.763500,0.055500,42.972000,44.066002,42.192001,29616500
2017-01-04,45.397999,0.009286,0.897286,0.093429,42.950001,45.599998,42.862000,56067500
2017-01-05,45.349998,0.000000,0.898000,0.102000,45.284000,45.495998,44.389999,29558500
2017-01-06,45.801998,0.072000,0.928000,0.000000,45.386002,46.062000,45.090000,27639500
2017-01-09,46.256001,0.000000,0.815000,0.185000,45.793999,46.383999,45.599998,19897500
...,...,...,...,...,...,...,...,...
2022-05-02,902.940002,0.045250,0.844950,0.109800,860.770020,906.359985,848.030029,25260500
2022-05-03,909.250000,0.024722,0.908667,0.066611,903.179993,924.080017,888.590027,21236500
2022-05-04,952.619995,0.044100,0.871200,0.084650,903.940002,955.500000,885.280029,27214600
2022-05-05,873.280029,0.040071,0.894964,0.064929,939.020020,945.599976,857.700012,30839700
2022-05-06,865.650024,0.017500,0.930214,0.052286,887.000000,888.000000,843.109985,24301000

In [67]:
stock_data.to_csv('/content/drive/MyDrive/JU PROJ/GENERAL_Tesla_stock_data_Vader.csv')