In [5]:
import pandas as pd

In [6]:
df1 = pd.read_csv('/content/drive/MyDrive/JU PROJ/TSLA FinBERT/EXEC_FINBERT_Tesla_stock_data.csv', index_col = False)
df1

,Date,Close,negative,neutral,positive,Open,High,Low,Volume
0,2017-01-03,43.397999,0.157270,0.207310,0.635420,42.972000,44.066002,42.192001,29616500
1,2017-01-04,45.397999,0.203407,0.163813,0.632780,42.950001,45.599998,42.862000,56067500
2,2017-01-05,45.349998,0.086530,0.112679,0.800792,45.284000,45.495998,44.389999,29558500
3,2017-01-06,45.801998,NaN,NaN,NaN,45.386002,46.062000,45.090000,27639500
4,2017-01-09,46.256001,NaN,NaN,NaN,45.793999,46.383999,45.599998,19897500
...,...,...,...,...,...,...,...,...,...
1341,2022-05-02,902.940002,NaN,NaN,NaN,860.770020,906.359985,848.030029,25260500
1342,2022-05-03,909.250000,NaN,NaN,NaN,903.179993,924.080017,888.590027,21236500
1343,2022-05-04,952.619995,NaN,NaN,NaN,903.940002,955.500000,885.280029,27214600
1344,2022-05-05,873.280029,0.105465,0.225527,0.669008,939.020020,945.599976,857.700012,30839700
1345,2022-05-06,865.650024,NaN,NaN,NaN,887.000000,888.000000,843.109985,24301000

In [7]:
df2 = pd.read_csv('/content/drive/MyDrive/JU PROJ/TSLA FinBERT/GENERAL_FINBERT_Tesla_stock_data.csv', index_col = False)
df2

,Date,Close,negative,neutral,positive,Open,High,Low,Volume
0,2017-01-03,43.397999,0.143946,0.211864,0.644191,42.972000,44.066002,42.192001,29616500
1,2017-01-04,45.397999,0.143946,0.211864,0.644191,42.950001,45.599998,42.862000,56067500
2,2017-01-05,45.349998,0.143946,0.211864,0.644191,45.284000,45.495998,44.389999,29558500
3,2017-01-06,45.801998,0.143946,0.211864,0.644191,45.386002,46.062000,45.090000,27639500
4,2017-01-09,46.256001,0.092892,0.182005,0.725102,45.793999,46.383999,45.599998,19897500
...,...,...,...,...,...,...,...,...,...
1341,2022-05-02,902.940002,0.106230,0.211320,0.682450,860.770020,906.359985,848.030029,25260500
1342,2022-05-03,909.250000,0.106230,0.211320,0.682450,903.179993,924.080017,888.590027,21236500
1343,2022-05-04,952.619995,0.106230,0.211320,0.682450,903.940002,955.500000,885.280029,27214600
1344,2022-05-05,873.280029,0.106230,0.211320,0.682450,939.020020,945.599976,857.700012,30839700
1345,2022-05-06,865.650024,0.106230,0.211320,0.682450,887.000000,888.000000,843.109985,24301000

In [8]:
# Set date as Index
df1 = df1.set_index('Date')
df1 = df1.sort_index()
df2 = df2.set_index('Date')
df2 = df2.sort_index()
df1

,Close,negative,neutral,positive,Open,High,Low,Volume
Date,,,,,,,,
2017-01-03,43.397999,0.157270,0.207310,0.635420,42.972000,44.066002,42.192001,29616500
2017-01-04,45.397999,0.203407,0.163813,0.632780,42.950001,45.599998,42.862000,56067500
2017-01-05,45.349998,0.086530,0.112679,0.800792,45.284000,45.495998,44.389999,29558500
2017-01-06,45.801998,NaN,NaN,NaN,45.386002,46.062000,45.090000,27639500
2017-01-09,46.256001,NaN,NaN,NaN,45.793999,46.383999,45.599998,19897500
...,...,...,...,...,...,...,...,...
2022-05-02,902.940002,NaN,NaN,NaN,860.770020,906.359985,848.030029,25260500
2022-05-03,909.250000,NaN,NaN,NaN,903.179993,924.080017,888.590027,21236500
2022-05-04,952.619995,NaN,NaN,NaN,903.940002,955.500000,885.280029,27214600
2022-05-05,873.280029,0.105465,0.225527,0.669008,939.020020,945.599976,857.700012,30839700
2022-05-06,865.650024,NaN,NaN,NaN,887.000000,888.000000,843.109985,24301000

In [9]:
df2

,Close,negative,neutral,positive,Open,High,Low,Volume
Date,,,,,,,,
2017-01-03,43.397999,0.143946,0.211864,0.644191,42.972000,44.066002,42.192001,29616500
2017-01-04,45.397999,0.143946,0.211864,0.644191,42.950001,45.599998,42.862000,56067500
2017-01-05,45.349998,0.143946,0.211864,0.644191,45.284000,45.495998,44.389999,29558500
2017-01-06,45.801998,0.143946,0.211864,0.644191,45.386002,46.062000,45.090000,27639500
2017-01-09,46.256001,0.092892,0.182005,0.725102,45.793999,46.383999,45.599998,19897500
...,...,...,...,...,...,...,...,...
2022-05-02,902.940002,0.106230,0.211320,0.682450,860.770020,906.359985,848.030029,25260500
2022-05-03,909.250000,0.106230,0.211320,0.682450,903.179993,924.080017,888.590027,21236500
2022-05-04,952.619995,0.106230,0.211320,0.682450,903.940002,955.500000,885.280029,27214600
2022-05-05,873.280029,0.106230,0.211320,0.682450,939.020020,945.599976,857.700012,30839700
2022-05-06,865.650024,0.106230,0.211320,0.682450,887.000000,888.000000,843.109985,24301000

In [10]:
df3 = pd.concat((df1, df2))
df3 = df3.groupby(df3.index).mean()
df3

,Close,negative,neutral,positive,Open,High,Low,Volume
Date,,,,,,,,
2017-01-03,43.397999,0.150608,0.209587,0.639805,42.972000,44.066002,42.192001,29616500.0
2017-01-04,45.397999,0.173676,0.187838,0.638485,42.950001,45.599998,42.862000,56067500.0
2017-01-05,45.349998,0.115238,0.162271,0.722491,45.284000,45.495998,44.389999,29558500.0
2017-01-06,45.801998,0.143946,0.211864,0.644191,45.386002,46.062000,45.090000,27639500.0
2017-01-09,46.256001,0.092892,0.182005,0.725102,45.793999,46.383999,45.599998,19897500.0
...,...,...,...,...,...,...,...,...
2022-05-02,902.940002,0.106230,0.211320,0.682450,860.770020,906.359985,848.030029,25260500.0
2022-05-03,909.250000,0.106230,0.211320,0.682450,903.179993,924.080017,888.590027,21236500.0
2022-05-04,952.619995,0.106230,0.211320,0.682450,903.940002,955.500000,885.280029,27214600.0
2022-05-05,873.280029,0.105848,0.218424,0.675729,939.020020,945.599976,857.700012,30839700.0
2022-05-06,865.650024,0.106230,0.211320,0.682450,887.000000,888.000000,843.109985,24301000.0

In [11]:
df3.isna().sum()

Close       0
negative    0
neutral     0
positive    0
Open        0
High        0
Low         0
Volume      0
dtype: int64

In [12]:
df3.to_csv('/content/drive/MyDrive/JU PROJ/TSLA FinBERT/TOTAL_FINBERT_Tesla_stock_data.csv')